@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brixton";
  src: local("Montserrat-Regular"), url("./assets/fonts/Brixton-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni";
  src: local("BodoniModa-Regular"), url("./assets/fonts/BodoniModa-Regular.ttf") format("truetype");
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  margin: 0;
  padding: 0;
}